table{
	border: 2px solid black;
	border-collapse: collapse;
}

td, tr{
	border: 2px solid black;
	height: 36px;
	width: 36px;
	border-collapse: collapse;
}
.beige{
	background-color: beige;
}
.marron{
	background-color: burlywood;
}
.rouge {
	background-color: red;
}