table{
	text-align: center;
	margin: auto;
	border: 2px solid black;
	border-collapse: collapse;
}

td, tr{
	border: 2px solid black;
	height: 36px;
	width: 36px;
	border-collapse: collapse;
}
.beige{
	background-color: beige;
}
.marron{
	background-color: burlywood;
}
.rouge {
	background-color: red;
}
body{
	margin-left: auto;
	text-align: center;
}
h1{
	font-family: Chalkduster, fantasy;
	color: #3E3E3E;
}
#btnJouer{
	margin-top:461px;
	border: none;
	font-size: 22pt;
	border-radius: 3px;
	background-color: #3E3E3E;
	color: white;
}
